<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwanwx.erp.mapper.SalesMapper">

	<!-- 구매 등록 -->
	<insert id="insertSales" parameterType="com.kwanwx.erp.model.Sales">
		insert into erp_sales (sales_id, customer_id, sales_date, total_amount)
		values (#{salesId}, #{customerId}, #{salesDate}, #{totalAmount})
	</insert>
	
	<!-- 단일 구매 조회 -->
	<select id="selectSalesById" parameterType="string" resultType="com.kwanwx.erp.model.Sales">
		select sales_id, customer_id, sales_date, total_amount
		from erp_sales
		where sales_id = #{salesId}
	</select>
	
	<!-- 전체 구매 조회 -->
	<select id="selectAllSales" resultType="com.kwanwx.erp.model.Sales">
		select sales_id, customer_id, sales_date, total_amount
		from erp_sales
	</select>
</mapper>